<div class="main">
  <table>
    <tbody>
		<% @problems.each do |problem| %>
			<tr>
			<td>
				<p>Asked by <%= problem.user.to_s%>
					on <%= time_tag problem.created_at %>
			<h3>Here's my problem:</h3>
			<%= link_to truncate(problem.text, length: 40), problem_path(problem) %>
		</td></tr>
		<% end %>
	</tbody>
	
  </table>
</div>
	
