<div class="title">Homework Helper</div>
    <tbody>
		<% @problems.each do |problem| %>
			<div class="content"><tr>
				<p>Asked by <%= problem.user.to_s %>
					on <%= problem.created_at.strftime("%A, %B %d, %Y at %l:%M%P") %></p>
			<h5>Here's my problem:</h5>
			<%= link_to truncate(problem.text, length: 40), 				problem_path(problem), :class => "problem" %>
			</tr></div>
		<% end %>
	</tbody>
<div class="paginate">
  <%= will_paginate @question %>
</div>
