<%= simple_form_for @problem  do |form| %>
  <div class="row">
    <h2 class="large-9 large-offset-3 columns">What's your problem?</h2>
  </div>
  <%= form.input :text %>
  <%= form.input :tried %>
  <div class="row">
    <div class="large-9 large-offset-3 columns">
      <%= form.button :submit, "Ask" %>
    </div>
  </div>

<% end %>