<%= simple_form_for @problem  do |form| %>
  <div class="row">
   <div class="title_2">What's your problem?</div>
  <div class="large-6 columns">
  <%= form.input :text,placeholder: "text" %>
  </div>
  <div class="large-6 columns">
  <%= form.input :tried, placeholder: "what I've tried so far" %>
  </div>
  <div class="row">
      <div class="large-12 columns">
      <%= form.button :submit, "Ask" %>
      </div>
  </div>
  </div>

<% end %>