/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

.field_with_errors input, .field_with_errors label {
  color: red;
}


.current_user {
    color: #ffffff;
    margin-top: 9px;
}
body {
	background-image: url('http://i.imgur.com/p9dujcV.png');
	text-align: center;
}
table, tbody {
	background-color: transparent;
	margin: 0 auto;
	width: 700px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	margin-top: 40px;
}
tbody {
	border-bottom: 2px;
	
}
tr {
	margin-top: 5px;
	border-bottom: 2px;
	
}

.main {
	text-align: center;
	margin: 0 auto;
}
.paginate {
	text-align: center;
}
.title {
	font-size: 40px;
}
.content {
	border-bottom: 2px solid white;
}