/*@font-face {
    font-family: 'bpdotsunicasesquareregular';
    src: url('fonts/bpdotsunicasesquare-webfont.eot');
    src: url('fonts/bpdotsunicasesquare-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bpdotsunicasesquare-webfont.woff2') format('woff2'),
         url('fonts/bpdotsunicasesquare-webfont.woff') format('woff'),
         url('fonts/bpdotsunicasesquare-webfont.ttf') format('truetype'),
         url('fonts/bpdotsunicasesquare-webfont.svg#bpdotsunicasesquareregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '2dumbregular';
    src: url('2dumb-webfont.eot');
    src: url('2dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('2dumb-webfont.woff2') format('woff2'),
         url('2dumb-webfont.woff') format('woff'),
         url('2dumb-webfont.ttf') format('truetype'),
         url('2dumb-webfont.svg#2dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

.probs {
	background-color:rgba(45, 82, 105, 0.5);
	width: 800px;
	margin: 0 auto;
	border-radius: 10px;
	
}
.content {
	border-bottom: 2px solid white;
	margin: 0 auto;
	margin-top: 10px;
	width: 600px;
	background-color: rgba(45, 82, 105, 0.7);
	border-radius: 15px;
}
p {
	margin-bottom: 3px;
}

.problem {
	text-decoration: none !important;
	color: #2d5269;
}
.text {
	color: black;
	text-transform: lowercase;
	letter-spacing: 0px;
	font-weight: normal;
}